body {
    background-color: #8bc541;
    text-align: center;
    font-size: 16px;
    font-family: 'Ubuntu',Helvetica,Arial,Lucida,sans-serif;
  }
  
  .sidenav {
    width: 150px;
    position: fixed;
    z-index: 1;
    top: 20px;
    left: 10px;
    background: #8bc541;
    overflow-x: hidden;
    padding: 8px 0;
    text-align: left;
    font-family: 'Ubuntu',Helvetica,Arial,Lucida,sans-serif;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #111;
    display: block;
  }
  
  .sidenav a:hover {
    color: #547725;
  }
  
  .main {
    margin-left: 140px; /* Same width as the sidebar + left position in px */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
    font-family: 'Ubuntu',Helvetica,Arial,Lucida,sans-serif;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
